<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd 
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- dubbo 配置 -->
    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:registry address="${dubbo.registry.address}"/>
     <dubbo:annotation package="com.maliang.service" />
	<dubbo:protocol name="${dubbo.protocol.name}"   port="${dubbo.protocol.port}"/> 
	  <dubbo:protocol name="rest" server="tomcat" port="9913" /> 
  <!--   <dubbo:monitor protocol="registry"></dubbo:monitor> -->

    <!-- 生产者声明 -->
    <bean id="userService" class="com.maliang.service.user.impl.UserService"/>
	<dubbo:service interface="com.maliang.service.user.IuserService" ref="userService" />
	 
</beans>